django<2.0
django-polymorphic>1.2,<2.0
django-suit
django-wysiwyg
django-any-urlfield
django-any-imagefield
django-fluent-contents<2.0
django-fluent-pages<2.0
django-tinymce
markdown
pillow
south

pytz
pygments

textile
docutils

django-contrib-comments

micawber
