.slugpreview {
    display: inline-block;
    color: #333;
}
.slugpreview .url-prefix,
.slugpreview .url-suffix {
    vertical-align: middle;
}
.slugpreview .url-slug {
    padding-left: 4px;
    padding-right: 4px;
}